<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<h1>{% trans 'Permisos para ver' %}</h1>
<p>{% trans 'Seleccione los supervisores que tendrán permiso para ver la campana' %} <strong>{{campana.nombre}}</strong></hp>

<form action = "" method = "post"> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-12">
            <label for="{{ form.bd_contacto.id_for_label }}">{% trans 'Supervisores' %}:</label>
            {{ form.supervisors }}
            {{ form.supervisors.errors }}
        </div>
    </div>
    <hr>
    <button type="submit" id="id_registrar" class="btn btn-primary">
        {% trans 'Guardar' %}
    </button>
</form>

{% endblock %}
